{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": { "version": "3.38", "proposals": true },
            "modules": false
        }]
    ],
    "sourceType": "module"
}