{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Bienvenue sur l'Admin Arcadia Zoo
{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Gérez vos avis et autres entités depuis le menu.
    </div>
{% endblock %}
