{# templates/admin/layout_minimal.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{{ dashboardTitle|default('Test Twig Minimal') }}</title>
</head>
<body>
    <h1>Page Dashboard Test Minimaliste</h1>
</body>
</html>
