{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'Admin Arcadia Zoo{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'Admin Arcadia Zoo</h1>
    <div class="alert alert-info">
        Gérez vos avis et autres entités depuis le menu.
    </div>
{% endblock %}